body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}


.sidebar .nav-link {
    color: #0026ff;
    font-size: 16px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}



.card {
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
